/* Countdown */

:root {
  --registrations: 24;
  --spaces-remaining: calc(48 - var(--registrations));
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title-and-sponsors {
  width: 900px;
}

.title-and-sponsors img.title {
  width: 900px;
  height: auto;
}

.title-and-sponsors img.sponsors {
  width: 900px;
  height: auto;
}

.flipdown {
  margin-top: 100px;
  transform: scale(1.65);
  padding-bottom: 50px;
}

h1,
h2,
p {
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 8px #8fcb84cc;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h2,
p {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  font-size: 2em;
  text-transform: lowercase;
}

.spaces-remaining {
  margin: 40px auto 0px auto;
  width: 860px;
}
.spaces-remaining h3 {
  margin: 0;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 8px #00000055;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  text-align: center;
  right: 0;
  position: relative;
  font-size: 2em;
}

.spaces-remaining::before {
  border-radius: 50px;
  position: absolute;
  content: "";
  background: linear-gradient(
    to right,
    #8fcb84cc calc(var(--registrations) / 48 * 100%),
    rgba(0, 0, 0, 0.5) calc(var(--registrations) / 48 * 100%),
    rgba(0, 0, 0, 0.5) calc(var(--spaces-remaining) / 48 * 100%)
  );
  box-shadow: 0px 0px 8px #8fcb84cc;
  width: 860px;
  height: 50px;
}

.qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 500px;
}

.qr img {
  /* width: 350px; */
  margin-top: 25px;
}

@media (max-width: 1600px), (orientation: portrait) {
  body {
    flex-direction: column;
    transform: scale(50%);
  }
  .qr {
    margin: 0;
  }
}
