/* Countdown */

html,
body {
  height: 100%;
  margin: 0;
}

main.countdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-size: cover;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.title-and-sponsors {
  width: 900px;
}

.title-and-sponsors img.title {
  width: 900px;
  height: auto;
}

.title-and-sponsors img.sponsors {
  width: 900px;
  height: auto;
}

.flipdown {
  margin-top: 100px;
  transform: scale(1.65);
  padding-bottom: 50px;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 8px #8fcb84cc;
}
